body {
  overflow: hidden;
}

#introduction {
  width: 100%;
  display: block;
  background: linear-gradient(to bottom right, #fff06a, #ffc86b);
}

#interaction1 {
  width: 100%;
  display: block;
  background-color: #201f1f;
}

#interaction2 {
  width: 100%;
  display: block;
  background-color: blue;
}

#info {
  display: none;
}
