body {
  overflow: hidden;
}

#introduction {
  width: 100%;
  display: block;
  background: linear-gradient(to bottom right, #8cf2b8, #60cfe0);
}

#interaction1 {
  width: 100%;
  display: block;
  background-color: #201f1f;
}

#interaction2 {
  width: 100%;
  display: block;
  background-color: blue;
}

.keyboardIcon {
  width: 40%;
  height: auto;
  position: absolute;
  left: 30%;
  top: 50%;
  opacity: .5;
  z-index: 50;
}

.useKeyboard {
  width: auto;
  height: auto;
  position: absolute;
  left: 43%;
  top: 34%;
  opacity: .5;
  z-index: 50;
  color: white;
}

.activeLetter {
  width: auto;
  height: auto;
  margin: 0;
  font-size: 250pt;
  position: fixed;
  left: 45%;
  top: 25%;
  z-index: 60;
}

.backgroundLetter {
  width: auto;
  height: auto;
  font-size: 40pt;
  position: fixed;
  /* left: 100px;
  top: 500px; */
  color: white;
  opacity; .5;
  z-index: 60;
}
