html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}

.section {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}
