.whiteSpace {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: -10;
  top: 100%;
}

.trans {
  animation-name: trans;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier();
}

@keyframes trans {
    0%   {top: 100%; z-index: -10;}
    50%  {top: 0%; z-index: 109;}
    100% {top: -100%; z-index: -10;}
}

.section1Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

.section1Text {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 55%;
  left: 60%;
}

.section2Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

.section3Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

.section4Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

/* #S:hover {
  color: red;
}

#y:hover {
  color: red;
}

#n:hover {
  color: red;
}

#e:hover {
  color: red;
}

#t:hover {
  color: red;
}

#h:hover {
  color: red;
}

#i:hover {
  color: red;
}

#a:hover {
  color: red;
} */
