.whiteSpace {
  width: 97%;
  height: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  z-index: -10;
  top: 100%;
}

.transUp {
  animation-name: transUp;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier();
}

.transDown {
  animation-name: transDown;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier();
}

@keyframes transUp {
    0%   {top: -100%; z-index: -10;}
    30%  {top: 0%; z-index: 109;}
    100% {top: 100%; z-index: -10;}
}

@keyframes transDown {
    0%   {top: 100%; z-index: -10;}
    30%  {top: 0%; z-index: 109;}
    100% {top: -100%; z-index: -10;}
}

.section1Title {
  width: 27%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 15%;
  z-index: 120;
}

.section1Text {
  width: 37%;
  height: 50%;
  position: absolute;
  display: block;
  top: 55%;
  left: 48%;
}

.section2Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

.section3Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

.section4Title {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
  top: 25%;
  left: 20%;
  z-index: 100;
}

/* #S:hover {
  color: red;
}

#y:hover {
  color: red;
}

#n:hover {
  color: red;
}

#e:hover {
  color: red;
}

#t:hover {
  color: red;
}

#h:hover {
  color: red;
}

#i:hover {
  color: red;
}

#a:hover {
  color: red;
} */
