.whiteSpace {
  width: 97%;
  height: 90%;
  background-color: white;
  position: fixed;
  left: 0;
  z-index: -10;
  top: 100%;
}

.transUp {
  animation-name: transUp;
  animation-duration: 1.4s;
  animation-timing-function: ease;
}

.transDown {
  animation-name: transDown;
  animation-duration: 1.4s;
  animation-timing-function: ease;
}

@keyframes transUp {
    0%   {top: -100%; z-index: 109;}
    100% {top: 100%; z-index: 109;}
}

@keyframes transDown {
    0%   {top: 100%; z-index: 109;}
    100% {top: -100%; z-index: 109;}
}


/* secion one */

.section1Title {
  width: 27%;
  height: 50%;
  position: absolute;
  display: block;
  top: 21%;
  left: 15%;
  z-index: 120;
}

.smallTextTop {
  position: fixed;
  width: 30%;
  height: auto;
  top: 27%;
  left: 21%;
  z-index: 120;
}

.noun {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 15pt;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  margin-right: 3%;
}

.psy {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 10pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 3%;
}

.smallTextBottom {
  position: absolute;
  width: 30%;
  height: auto;
  top: 44%;
  left: 21%;
  z-index: 120;
}

.pronounce {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 15pt;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  margin-right: 7%;
}

.section1Text {
  width: 37%;
  height: 50%;
  position: absolute;
  display: block;
  top: 55%;
  left: 50%;
  z-index: 120;
}




/* subsections general */

.sectionTitle {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 12%;
  left: 14%;
  z-index: 100;
}

.superTitle {
  position: absolute;
  left: 14%;
  top: 15%;
  width: auto;
  height: auto;
}

.bar {
  position: absolute;
  left: 14%;
  top: 18%;
  width: 72%;
  height: 1px;
  background-color: black;
}

.containerSmall {
  width: 100%;
  height: auto;
  margin: 0;
}

.containerLarge {
  margin-top: 10%;
  width: 100%;
  height: 30%;
}

.text {
  display: inline-block;
  width: 46%;
  height: 100%;
  margin: 0 3% 0 0;
  vertical-align: top;
}




/* section 2 */

.brain {
  position: absolute;
  left: 10%;
  top: 37%;
  width: 35%;
  height: auto;
  mix-blend-mode: multiply;
}

/* .ball1 {
  position: absolute;
  left: 30%;
  top: 65%;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100%;
  opacity: .5;
} */

.contentRight {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 38%;
  height: 50%;
  z-index: 120;
}


/* section 3 */

.lightbulb {
  position: absolute;
  left: 60%;
  top: 30%;
  width: 20%;
  height: auto;
  mix-blend-mode: multiply;
  transform: rotate(180deg);
}

.contentLeft {
  position: absolute;
  top: 40%;
  left: 14%;
  width: 38%;
  height: 50%;
  z-index: 120;
}





/* section 4 */

.section4Buttons{
  width: 30%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 100;
}

.button {
  width: 30%;
  height: 10%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 120;
  display: inline-block;
  margin: 0 10% 10% 0;
}

.sight {

}

.sound {
  left:
}

.space {

}

.touch {

}

/* #S:hover {
  color: red;
}

#y:hover {
  color: red;
}

#n:hover {
  color: red;
}

#e:hover {
  color: red;
}

#t:hover {
  color: red;
}

#h:hover {
  color: red;
}

#i:hover {
  color: red;
}

#a:hover {
  color: red;
} */
