.logo {
  position: fixed;
  width: 2%;
  z-index: 111;
  padding: .6% 0% 0% 5%;
}

.menuContainer {
  font-family: 'Lato', sans-serif;
  position: fixed;
  left: -27%;
  width: 30%;
  height: 100%;
  z-index: 110;
  background-color: white;
}

.menuIcon {
  position: fixed;
  width: 2.6%;
  padding: 25% 0% 0% 29.2%;
}

.menu {
  position: fixed;
  padding: 20% 0% 0% 10%;
}

li.menuItem {
  margin-bottom: 45%;
  text-transform: uppercase;
}

a.menuItem {
  text-decoration: none;
  color: black;
}
