body {
  overflow: hidden;
}

#introduction {
  width: 100%;
  display: block;
  background: linear-gradient(to bottom right, #ffca59, #ff8859);
}

#interaction1 {
  width: 100%;
  display: block;
  background-color: #201f1f;
}

#interaction2 {
  width: 100%;
  display: block;
  background-color: blue;
}

/* body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
} */
/* #info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
} */
/* #info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer } */
