.vidContainer {
  width: 100%;
  margin: 0;
}

video {
  width: 100%    !important;
  height: auto   !important;
  display: inline-block;
  margin: 0;
}

.frame {
  position: fixed;
  z-index: 100;
  background-color: white;
}

.topBar{
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
}

.bottomBar{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
}

.leftBar {
  bottom: 0;
  left: 0;
  width: 3.5%;
  height: 100%;
}

.rightBar{
  bottom: 0;
  right: 0;
  width: 3.5%;
  height: 100%;
}

.filler {
  width: 100%;
  height: 60px;
  background-color: white;
}
